body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.Header {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    margin: 12px;
    height: 2vw;
}

.Logo {
    height: 100px;
    width: 100px;
}

.Nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.Nav a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: "F1", sans-serif;
}

.Nav a:hover {
    color: Red;
}

.Drivers-Container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 40px 20px;
    box-sizing: border-box;
    margin: 40px auto 0 auto;
    max-width: 1500px;
}

.Max,
.Lando,
.Oscar,
.Leclerc,
.Russel,
.Antonelli{
    width: 273px;
    height: 273px;
    position: absolute;
    bottom: 0;
    left: 125px;
}

.Max-Verstappen,
.Oscar-Piastri,
.Lando-Norris,
.George-Russell,
.Charles-Leclerc,
.Kimi-Antonelli {
    flex: 0 0 calc((100% - 80px) / 3);
    max-width: calc((100% - 80px) / 3);
    height: 460px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    position: relative;
}


.N1,
.N83,
.N4,
.N63,
.N16,
.N12{
    width: 96px;
    height: 96px;
    position: absolute;
    bottom: 4px;
    padding-left: 20px;
}