body {
    margin: 0;
    padding: 0;
}

.Header {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 10px 20px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 8px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
    margin: 12px;
    height: 45px;
}

.Logo {
    height: 100px;
    width: 100px;
}

.Nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

.Nav a {
    text-decoration: none;
    color: black;
    font-size: 25px;
    font-family: "Play", sans-serif;
}

.Nav a:hover {
    color: Red;
}

.F1_cars{
    width: 550px;
    height: 50%;
    border-radius: 8px;
    float: left;
    margin-right: 20px;
}

.Section{
    margin-top: 30px;
    margin-left: 100px;
    font-family: "Play", sans-serif;
}